#snippet-selector
  margin-top: 8px
  height: 100vh
  display: grid
  grid-template-rows: max-content max-content 1fr
  gap: 8px
  padding-bottom: 20px
  box-sizing: border-box
  #snippet-selector-header
    border: 2px solid #292929
    border-radius: 12px
    padding: .5em

    #controls-container
      display: flex
      flex-direction: row
      justify-content: space-around
      padding-bottom: 10px




